<% provide :title, t("static_pages.about.title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".the" %><%= link_to t("rails_tutorial"),
    "http://www.railstutorial.org/" %>
  <%= t ".is_a" %>
  <%= link_to t(".book"), "http://www.railstutorial.org/book"%> <%= t ".and" %>
  <%= link_to t(".screencast"), "http://screencasts.railstutorial.org/" %>
  <%= t ".sentence_2" %>
  <%= link_to t("rails_tutorial"), "http://rubyonrails.org/" %>
  <%= t ".sentence_1" %>
</p>
