<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".sentence_1" %>
  <%= link_to t(".rails_help"), "http://www.railstutorial.org/help" %>
  <%= t ".sentence_2"%>
  <%= link_to t("rails_tutorial"),
    "http://www.railstutorial.org/book" %>
  <%= t ".book" %>
</p>
